$color-white: #ffffff;
$color-black: #000000;
$color-blue: #0E7BCB;
$color-red: #FF0000;
$color-red-btn: #FC0025;

//Semi-transparent colors
$transparent-blue: rgba(14, 123, 230, 0.7);
$transparent-light-blue: rgba(14, 123, 203, 0.15);

//gra