// Import style libraries
@import "slick.scss";
@import "slick-theme.scss";
@import "bootstrap4.scss";
@import "colors";
@import "buttons";
@import "variables";

//fonts
@font-face {
  font-family: "Gotham Pro";
  font-weight: normal;
  src: url("../fonts/GOTHAPROLIG.OTF") format("opentype");
}
@font-face {
  font-family: "Gotham Pro";
  font-weight: bold;
  src: url("../fonts/GOTHAPROBOL.OTF") format("opentype");
}

*:hover {
  outline: none !important;
  text-decoration: none !important;
}
*:focus {
  outline: none !important;
}
//Form start
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .field-item {
    width: 292px;
    height: 49px;
    margin: 0 15px $bottom-spacing 15px;
    border: 3px solid $color-blue;
    text-align: center;
    color: $color-blue;
    box-sizing: border-box;
    &::-webkit-input-placeholder {
      color: $color-blue;
      text-align: center;
    }
    &::-moz-placeholder {
      color: $color-blue;
      text-align: center;
    }
    /*Firefox 19+*/
    &:-moz-placeholder {
      color: $color-blue;
      text-align: center;
    }
    /*Firefox 18-*/
    &:-ms-input-placeholder {
      color: $color-blue;
      text-align: center;
    }
    &.btn-submit {
      @include button;
    }
  }

  select {
    padding-right: 10px;
    padding: 5px 10px 5px 5px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-image: url("/img/Select.svg");
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    text-align-last: center;
    option {
      padding: 3px 7px;
    }
  }
}
//Form end

//Base styles
html,
body {
  height: 100%;
}

body {
  font-family: "Gotham Pro", sans-serif;
  color: $color-black;
  font-size: 16px;
  background-color: $color-white;
  @media (min-width: 576px) {
    font-size: 18px;
  }
}

h1,
h2 {
  color: $color-blue;
  font-weight: bold;
}

h1 {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 58px;
  @media (min-width: 576px) {
    font-size: 36px;
  }
}

h2 {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: $bottom-spacing;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  &.caution {
    display: block;
    border-bottom: 2px solid $color-red;
    color: $color-red;
  }
}

h4 {
  font-size: 14px;
  font-weight: bold;
}

.text-small {
  text-align: center;
  font-size: 24px;
  color: $color-blue;
  margin-bottom: 40px;
}

section {
  padding-top: $bottom-spacing;
  padding-bottom: $bottom-spacing;
  background-size: cover;
  background-position: center;
}
ul {
  list-style: none; /* Remove default bullets */
  padding-inline-start: 0px;

  li {
    position: relative;
    &:before {
      content: "•"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
      position: absolute;
      left: -15px;
      top: 0;
      bottom: 0;
      margin: auto;
      color: $color-blue; /* Change the color */
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 2%; /* Also needed for space (tweak if needed) */
    }
  }
  &.red-bullets li:before {
    color: $color-red;
  }
}
//Base styles end

//Header start
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $transparent-blue;

  .navbar {
    align-items: center;
    &-collapse {
      flex-wrap: wrap;
    }

    img {
      margin: 0 0 5px 0;
      @media (min-width: 576px) {
        margin: 0 0 5px -30px;
      }
      @media (min-width: 1200px) {
        margin: 0 0 5px -35px;
      }
    }

    .navbar-nav {
      width: 100%;
      justify-content: flex-end;
      order: 2;
      margin: 15px 0 0 0;
      @media (min-width: 992px) {
        margin: 0;
      }
      &.secondary {
        @media (min-width: 992px) {
          margin: 0 0 10px 0;
        }
        order: 1;
      }
      .nav-item {
        padding: 0;
        @media (min-width: 992px) {
          padding: 0 10px;
        }
        &:before {
          display: none;
        }
        &:last-child {
          @media (min-width: 992px) {
            width: 180px;
            padding: 0;
          }
        }
        .nav-link {
          font-size: 20px;
          line-height: 24px;
          padding: 5px 0;
          color: $color-white;
          @media (min-width: 992px) {
            text-align: right;
            padding: 0;
          }

          &__small {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
    .navbar-toggler {
      border-color: transparent;
      padding-right: 0;
      margin-right: -6px;
      &-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        height: 2.5rem;
        width: 2.5rem;
      }
    }
  }
}
//Header end

//Hero section
.hero {
  background-image: url("/img/shutterstock_1040488600.jpg");

  .container {
    .form-block {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.95) 52.93%, rgba(255, 255, 255, 0) 88.47%);
      margin-top: 130px;
      padding: 55px 30px;
      .btn-moreInfo {
        @include button-highlight;
      }
    }

    .promotion a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: $bottom-spacing;

      img {
        margin-right: 20px;
      }
    }
  }
}

//Choice section
.promo {
  position: relative;
  margin-bottom: $bottom-spacing;
  @media (min-width: 768px) {
    padding-left: 90px;
  }

  &-text {
    margin-top: 20px;
    @media (min-width: 768px) {
      padding-right: 50px;
    }
  }

  &-image {
    display: block;
    position: static;
    top: 0;
    left: 0;
    margin: 0 auto;
    @media (min-width: 768px) {
      position: absolute;
    }
  }
}

//Choice section end

//Service section
.service {
  background-image: url("/img/shutterstock_697564588.png");
}

.icon {
  margin-bottom: $bottom-spacing;

  &-image {
    display: block;
    margin: 0 auto 20px auto;
  }

  &-text {
    text-align: center;
  }
}

.promo-service {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: $bottom-spacing;
  @media (min-width: 576px) {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .dashed {
    border-bottom: 2px dashed $color-blue;
    padding: 0;
    border-radius: unset;
    &::after {
      content: none;
    }
  }
  &__icon {
  }
  &__text {
    margin: 10px 50px;
    width: 100%;
    text-align: center;
    @media (min-width: 576px) {
      width: auto;
      text-align: left;
    }
  }
  &__button {
    background: none;
    border: none;
    color: $color-blue;
    position: relative;
    padding-right: 50px;
    cursor: pointer;

    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 0 6px 8px;
      border-color: transparent transparent transparent #007bff;
    }
  }
}
//Service section end

//Sales section start
$icon-size: 144px;
.sales {
  .special {
    padding: ($icon-size / 1.5) 30px 50px 30px;
    border: 3px solid $color-red;
    position: relative;
    margin-top: $icon-size / 2;
    @media (min-width: 576px) {
      padding: $icon-size 80px 80px 80px;
    }
    &-icon {
      position: absolute;
      top: -($icon-size / 2);
      width: $icon-size;
      height: $icon-size;
      left: 0;
      right: 0;
      margin: auto;
    }
    &-button {
      @include button-highlight;
      position: absolute;
      bottom: -25px;
      left: 0;
      right: 0;
      margin: auto;
      padding-left: 5px;
      padding-right: 5px;
      @media (min-width: 576px) {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
    .title-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: $bottom-spacing;
    }
  }
}
//Sales section end

//Cleaning section start
.cleaning {
  .step {
    position: relative;
    margin-top: 75px;
    &-number {
      position: absolute;
      top: -75px;
      left: 30px;
      font-size: 144px;
      font-weight: bold;
      line-height: 100%;
      color: $transparent-light-blue;
    }
    &-title {
      font-size: 24px;
      text-transform: uppercase;
    }
    &-subtitle {
      @media (min-width: 768px) {
        padding: 30px 0 0 30px;
      }
    }
  }
}
//Cleaning section end

// slider section start
.slider {
  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: inherit !important;
    div:not(.rating) {
      height: 100%;
    }
  }
  &-header {
    text-align: center;
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0eded;
    min-height: 295px;
    padding: 30px 50px 60px;
    @media (min-width: 992px) {
      padding: 54px 192px 80px;
    }
    .slider-feedback {
    }
    .rating {
      text-align: center;
    }
    .star {
      display: inline-block;
      margin-top: -2px;
    }
  }
  .slick-dots {
    li {
      &:before {
        display: none;
      }
      button {
        &:before {
          font-size: 15px;
          color: $color-blue;
        }
      }
    }
  }
}

.slick-arrow {
  z-index: 5;
  &:before {
    content: url("/img/slider-arrow-right.svg");
    width: 24px;
    height: 48px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  &.slick-next {
    right: 25px;
  }
  &.slick-prev {
    left: 25px;
    &:before {
      transform: rotate(180deg);
    }
    
  }
}

// slider section end

//Modal start
.modal-content {
  border-radius: 0;
}

.modal-dialog {
  max-width: 80%;
  font-size: 14px;
  margin: 8px auto;
  .modal-header {
    border-bottom: 0;
    padding-left: 7%;
    h3 {
      color: $color-blue;
    }
  }
  .modal-body {
    padding: 16px 80px;
    form {
      margin-left: -15px;
      margin-right: -15px;
    }
    button .arrow-1 {
      font-size: 18px;
      color: $color-blue;
      &:before {
        content: url("/img/Arrow1.svg");
        padding-right: 12px;
      }
    }
  }
  .close {
    color: $color-blue;
  }
}


#callback {
  .modal-content{
    margin: 0 auto;
    width: 36%;
    border: none;
    .modal-body {
      padding: 0;
      .close {
        position: absolute;
        right: 12px;
        span {
          font-weight: 400;
          font-size: 14px;
          line-height: 13px;
          text-transform: lowercase;
          color: $color-white;
        }
      }
      form {
        padding-top: 35px;
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

}
//Modal end

//mainForm started
.mainForm {
  .row {
    justify-content: center;
  }
}
//mainForm ended

//callbackForm started
#callbackForm {
  flex-direction: column;
  align-items: center;
  background-color: $color-blue;
  input {

  }
  .btn-submit {
    border: 3px solid $color-white;
  }
  .field-item {
    margin: 0 15px 35px 15px;
  }
}
//callbackForm ended

//footer started

footer {
  background-color: $color-blue;
  color: $color-white;
  padding: 18px 0 83px 47px;
  img {
    margin-bottom: 17px;
  }
  a {
    color: $color-white;
  }
}