// Import style libraries
@import "slick.scss";
@import "bootstrap4.scss";
@import "colors";

//Buttons

// Variables
$bottom-spacing: 40px;

//base styles
html, body {
    height: 100%;
}
body {
  font-family: sans-serif;
  color: $color-black;
  font-size: 18px;
  background-color: $color-white;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $transparent-blue;
  
  .navbar {
    align-items: flex-end;
    .navbar-nav {
      .nav-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      .nav-link {
        padding: 5px 50px;
        color: $color-white;
        
      }
    }
  }
}

h1, h2 {
    color: $color-blue;
    font-weight: bold;
}

h1 {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: $bottom-spacing;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-size: cover;
  background-position: center;
}

//Hero section
.hero {
  background-image: url("/img/shutterstock_1040488600.jpg");
  padding-top: 170px;
  form {
    background: $color-white;
  }
}

//Choice section
.promo {
  position: relative;
  margin-bottom: $bottom-spacing;
  @media (min-width: 768px) {
    padding-left: 90px;
  }
  &-text {
    margin-top: 20px;
    @media (min-width: 768px) {
      padding-right: 50px;
    }
  }
  &-image {
    display: block;
    position: static;
    top: 0;
    left: 0;
    margin: 0 auto;
    @media (min-width: 768px) {
      position: absolute;
    }
  }
}
//Choice section end

//Service section
.service {
    background-image: url('/img/shutterstock_697564588.png');
}
.icon {
    margin-bottom: $bottom-spacing;
    &-image {
        display: block;
        margin: 0 auto 20px auto;
    }
    &-text {
        text-align: center;
    }
}
//Service section end
