<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <a href="/">
                    <img src="/img/Logo.svg" alt="main logo">
                </a>
                <p><b>клининговая компания №1 по уборке коттеджных поселков</b></p>
                <p>© bоss’ko. все права защищены</p>
            </div>
            <div class="col-md-3">
                <p><b>Компания:</b></p>
                <p>Заказать уборку</p>
                <p>Виды уборки</p>
                <p>О нас</p>
            </div>
            <div class="col-md-3">
                <p><b>Контакты:</b></p>
                <p><b>Телефон: </b><a class="" href="tel:+79999777550">+7-9999-777-550</a></p>
                <p><b>E-mail: </b><a class="" href="mailto:info@bossko.ru">info@bossko.ru</a></p>
            </div>
        </div>
    </div>
</footer>

<script src="js/all.js"></script>
</body>
</html>
