<form action="order.php" method="post" id="finalForm" class="mainForm" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <input required class="field-item col-sm-6 col-md-4" type="text" name="name" placeholder="Ваше имя">
            <input required class="field-item col-sm-6 col-md-4 phone_mask" type="text" name="tel" placeholder="+7 (---) --- -- --">
            <input class="field-item col-sm-6 col-md-4" type="email" name="email" placeholder="E-mail">
            <input required class="field-item col-sm-6 col-md-4" min="0" type="number" name="area" placeholder="Введите площадь (м.кв)">
            <select name="cleaningType" class="field-item col-sm-6 col-md-4" required size="1">
                <option value="" selected disabled><span>Выберите тип уборки</span></option>
                <option value="Регулярная уборка">Регулярная уборка</option>
                <option value="Генеральная уборка">Генеральная уборка</option>
                <option value="Уборка после ремонта">Уборка после ремонта</option>
                <option value="Мойка окон c одной стороны">Мойка окон c одной стороны</option>
                <option value="Мойка окон с двух сторон">Мойка окон с двух сторон</option>
            </select>
            <input type="hidden" name="price" value="3" class="hidden-input">
            <button class="btn-submit field-item col-sm-6 col-md-4" type="submit">Заказать за <span
                    class="calc-price">1500</span>
                Р
            </button>
        </div>
    </div>
</form>