<!--regularCleaning-->
<div class="modal fade cleaning-modals" id="regularCleaning" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">регулярная уборка</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Данный вид клининга подойдет для помещений, которые убираются регулярно.</p>
                <h4>В эту услугу входит:</h4>
                <br>
                <h4>Кухня:</h4>
                <ul>
                    <li>удаляем пыль с доступных поверхностей;</li>
                    <li>моем сантехнику снаружи и внутри;</li>
                    <li>моем раковину и посуду в ней;</li>
                    <li>тщательно моем пол.</li>
                </ul>
                <h4>Спальня:</h4>
                <ul>
                    <li>пылесосим мягкую мебель и ковры;</li>
                    <li>удаляем пыль с доступных поверхностей;</li>
                    <li>тщательно моем пол;</li>
                    <li>меняем постельное белье.</li>
                </ul>
                <h4>Гостиная:</h4>
                <ul>
                    <li>пылесосим мягкую мебель и ковры;</li>
                    <li>моем мебель снаружи и внутри;</li>
                    <li>удаляем пыль с доступных поверхностей;</li>
                    <li>тщательно моем пол.</li>
                </ul>
                <h4>Ванная комната:</h4>
                <ul>
                    <li>моем туалет, ванну и душевую кабину;</li>
                    <li>тщательно моем пол;</li>
                    <li>удаляем пыль с доступных поверхностей;</li>
                    <li>протираем полки и зеркала.</li>
                </ul>
                <p>Поддерживающая уборка не подойдет помещениям, которые давно не убирались, так как не предполагает
                    мытье абразивными материалами и длительное механическое воздействие.</p>
                <partial src="mainForm.html"></partial>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="arrow-1">назад к услугам</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--springCleaning-->
<div class="modal fade cleaning-modals" id="springCleaning" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">генеральная уборка</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4> Общие работы, которые проводятся во всех комнатах:</h4>
                <ul>
                    <li>сухая уборка пылесосом;</li>
                    <li>чистка пылесосом ковров и ковровых покрытий;</li>
                    <li>влажная уборка полов;</li>
                    <li>мойка плинтусов;</li>
                    <li>мытье радиаторов;</li>
                    <li>протирка подоконников, предметов интерьера, бытовой, аудио и видео-техники;</li>
                    <li>протирка пыли с настольных и настенных осветительных приборов;</li>
                    <li>протирка зеркал;</li>
                    <li>уборка домашних вещей (раскладка в аккуратные стопочки);</li>
                    <li>мойка дверных блоков, включая фурнитуру;</li>
                    <li>протирка внешних поверхностей всех шкафов, полок и пр.;</li>
                    <li>уборка пылесосом мягкой мебели;</li>
                    <li>выведение средних и сильных загрязнений, находящихся на открытых поверхностях.</li>
                </ul>
                <h4>Работы в санузлах:</h4>
                <ul>
                    <li>мытье сантехники (унитаз, умывальник, ванная, биде) с удалением известкового налета и водного
                        камня;
                    </li>
                    <li>мытье реечных, пластиковых потолков;</li>
                    <li>мытье смесителей;</li>
                    <li>протирка шкафчиков, зеркал, аксессуаров;</li>
                    <li>уборка и мытье шкафчиков;</li>
                    <li>глубокая чистка кафельной плитки с удалением известкового налета;</li>
                    <li>мойка стиральной машины снаружи.</li>
                </ul>
                <h4>Работы на кухне:</h4>
                <ul>
                    <li>мытье рабочей зоны вытяжки;</li>
                    <li>мытье наружной поверхности кухонной бытовой техники (холодильник, плита СВЧ, посуд.машина,
                        электрочайник и пр.);
                    </li>
                    <li>мытье фронтальной поверхности холодильника;</li>
                    <li>мытье кухонного фартука;</li>
                    <li>мытье фронтальной поверхности кухонных шкафов.</li>
                </ul>
                <h4>Дополнительно к стандартной генеральной уборке вы также можете заказать ряд дополнительных
                    услуг:</h4>
                <ul>
                    <li>Мытье духовой плиты изнутри — 350 руб.</li>
                    <li>Мытье холодильника изнутри – 250 руб.</li>
                    <li>Мытье СВЧ изнутри – 150 руб.</li>
                    <li>Мытье кухонного гарнитура изнутри — 350 руб.</li>
                    <li>Снятие, стирка, глажка, навеска штор – 300 руб. за комплект на 1 окно.</li>
                    <li>Мытье алюминиевых или пластиковых жалюзи (от 100 руб. за створку), уборка пылесосом или
                        парогенератором штор (150 руб. за комплект).
                    </li>
                    <li>Мойка стен (+20% от стоимости уборки).</li>
                    <li>Мойка стеклянных, зеркальных потолков — 250 руб. за кв.м.</li>
                    <li>Натирка корпусной мебели полиролью — от 200 руб. за предмет.</li>
                    <li>Мытье хрустальных люстр и стеклянных люстр с подвесками (так называемые «висюльки») производится
                        только при условии того, что наше компания не несет ответственности за повреждения при мытье. Стоимость мытья
                        хрустальных люстр зависит от их размера и составляет от 500 руб. за люстру.
                    </li>
                </ul>
                <h4>Обращаем Ваше внимание, что генеральная уборка НЕ ВКЛЮЧАЕТ стоимость мытья окон, химчистки ковров и
                    мягкой мебели, которая, в любом случае, рассчитывается отдельно!</h4>
                <br>
                <partial src="mainForm.html"></partial>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="arrow-1">назад к услугам</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--afterRepair-->
<div class="modal fade cleaning-modals" id="afterRepair" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">уборка после ремонта</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Стандартная услуга включает определенный перечень обязательных работ, в которую входят:</h4>
                <ul>
                    <li>сбор и вынос мелкого строительного мусора;</li>
                    <li>очищение от пыли поверхностей стен, потолка и пола;</li>
                    <li>удаление краски, лаков, следов клея и сложных локальных загрязнений;</li>
                    <li>мытье окон и зеркальных поверхностей, стеклянных поверхностей и светильников;</li>
                    <li>очищение плинтусов, подоконников, дверных блоков, выключателей и розеток;</li>
                    <li>чистка торгового оборудования и мебели;</li>
                    <li>генеральная влажная уборка всех поверхностей.</li>
                </ul>
                <p>Работы проводятся поэтапно, согласно плану, с использованием профессионального инвентаря и
                    специальных чистящих средств. Мы гарантируем высокое качество уборки, исполнение всех обязательств,
                    закрепленных в договоре. Специалисты внимательно относятся ко всем пожеланиям Заказчика.</p>
                <partial src="mainForm.html"></partial>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="arrow-1">назад к услугам</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--windowCleaning-->
<div class="modal fade cleaning-modals" id="windowCleaning" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">мойка окон</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Оперативные и аккуратные специалисты выполнят профессиональную уборку и создадут идеальную чистоту.
                    Мойка окон в квартирах и коммерческих помещениях – наше профильное направление. Мы предлагаем
                    адекватную стоимость на мытьё окон, лоджий и зеркал.</p>
                <partial src="mainForm.html"></partial>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="arrow-1">назад к услугам</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--callback-->
<div class="modal fade" id="callback" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">закрыть</span>
                </button>
                <partial src="callbackModalForm.html"></partial>
            </div>
        </div>
    </div>
</div>
<!--success modal-->
<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="img/success.svg" alt="" class="image-success">
                <p class="result"></p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">закрыть</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--fail modal-->
<div class="modal fade" id="fail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="img/error.png" alt="" class="image-success">
                <p class="result"></p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">закрыть</span>
                </button>
            </div>
        </div>
    </div>
</div>